<app-header></app-header>
<div class="container-fluid page-starting">
    <div class="row">
        <div class="col-sm-7 align-self-center img-section"
            style="background-image:url(../../../assets/featuredSection/course-page-banner.jpg)">
            <!-- <img src="../../../assets/featuredSection/course-page-banner.jpg" alt="" class="img-fluid"> -->

        </div>
        <div class="col-sm-5 align-self-center ">

            <div class="form-wrap">
                <div class="fromsec">

                    <form class="from-box">

                        <h2 class="text-center mb-5 dfc1">Featured Section</h2>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name <sup>*</sup> </label>
                            <input type="text" class="form-control" placeholder="Enter the Name">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address <sup>*</sup></label>
                            <input type="email" class="form-control" placeholder="Enter the Name">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone Number <sup>*</sup></label>
                            <input type="phone" placeholder="Enter your number" class="form-control"
                                id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="yogavdsec" style="background-image: url(../../../assets/featuredSection/yoga-video.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 align-self-center">
                <h2 class="  dfc1">Featured Section</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry.</p>
            </div>
            <div class="col-sm-4 align-self-center">
                <div class="play-button"><img src="../../../assets/play.png" alt="" class="img-fluid"></div>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 align-self-center">
                <div class="borderr-img">
                    <div class="img-borderpar">
                        <img src="../../../assets/featuredSection/yoga-courbox.jpg" alt="" class="img-fluid img-border">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 align-self-center">
                <h2 class="  dfc1">Featured Section</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry.</p>
                </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Course Content</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Course Content</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Course Content</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Course Content</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Course Content</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Course Content</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Course Content</a>
                      </li>
                     
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                  </div>
            </div>
        </div>
    </div>
</section>

 