<div *ngIf="play">
  <app-player></app-player>
</div>

<!-- Navbar -->
<app-header></app-header>

<router-outlet></router-outlet>
<!-- Footer -->
<app-footer></app-footer>


<a id="back-to-top" href="#" class="btn back-to-top" *ngIf="windowScrolled">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-up" viewBox="-1 2 17 17">
    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
  </svg>
</a>




