<div class="detail">
<div id="topCarousel2" class="top-carousel carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
            <img src="../../../assets/{{selectedCourse.carousel}}.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </div>
</div>

<div class="container dCard my-5">
    <h2 class="text-center mb-4 dfc1">{{selectedCourse.name}}</h2>
    <div>
        <img src="../../../assets/{{selectedCourse.imageUrl}}.jpg" class="d-block w-100" alt="..." />
    </div>
    <p>
        This specialized course establishes your comfort level with the ancient art of Yoga – that might otherwise take decades
        to master! We commence by inspiring participants to create a bridge between the mind and body.
        
        
      
    </p>
    <p>
        This is enabled mainly through conscious breathing and cultivating a discipline of mindfulness in daily life.
        
        Our expert trainers introduce you to simplified lessons in various subjects that lead to better understanding of Yogic
        concepts. Yoga enthusiasts associated with us have always admired our style of introduction to Asanas, Pranayama,
        Kriyas, Meditation, Mantra Chanting and so on. Our student-friendly atmosphere easily makes you a part of our Yogic
        family.
    </p>
    <p>
        Therefore it is a perfect place to deepen your personal practice while acquiring fresh knowledge from certified Yoga
        professionals. By the end of this course, you will turn over a new leaf – as active and balanced individuals with smart
        potential to teach Yoga! Completion of this yoga program will earn you a 200 Hour certificate covering Hatha, Ashtanga
        and Vinyasa styles along with Pranayama and Meditation.
    </p>
</div>
</div>
